@charset "UTF-8";
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  overflow-x: hidden;
}
header
{
  background-color: #3498db;
}
nav
{
  background-color: #3498db;
}
.navbar-brand, .nav-item a, .main-heading, h1, h2, h3, h4, h5, h6
{
  font-family: 'Lobster', cursive;
}
/*Override Bootstrap border on nav button.*/
.navbar-toggler
{
  border: 0;
}
.navbar-toggler:focus
{
  box-shadow: none;
}
.nav-item
{
  font-size: 26px;
}
p, a, abbr, li
{
  font-family: 'Arial', sans-serif;
}
.main-heading
{
  font-size: 80px;
}
.heading
{
  margin-bottom: 22px;
}
h2
{
  font-size: 50px;
}
.upfront
{
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}
.subheading, address
{
  text-align: center;
  font-family: 'Georgia', serif;
}
#hero
{
  height: auto;
  position: relative;
  background-color: #85929e;
}
/*Overriding Bootstrap carousel font colour.*/
.carousel-dark .carousel-item:nth-child(2) .carousel-caption, .carousel-dark .carousel-item:nth-child(3) .carousel-caption
{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon
{
  filter: invert(0);
}
#super-heading
{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
h1.main-heading
{
  color: #3498db;
  text-align: center;
  text-shadow: 1px 1px 0px #fff;
}
#intro
{
  height: auto;
  padding: 50px;
  background-color: #eaeded;
}
footer
{
  height: auto;
  padding: 40px 0;
  background-color: #3498db;
}
address
{
  color: #fff;
  margin: 0;
}

h4.shoph4{
	font-family: "Arial";
	font-size: 1.2em;
	font-weight:bold;
}

#shopdiv{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin-top: 10px;
	margin-bottom:10px;
}

.products{
	border: 5px double #A439A4;
	border-radius: 40px 20px 0px 0px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 15px 15px 15px 15px;
}

.prodimages{
	display:flex;
	max-height:250px;
	margin-left: auto;
    margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
}

h1{
	font-family: "Pacifico", serif;
	color: #A439A4;
	text-align: center;
	vertical-align: top;
	margin: 15px 15px 15px 15px;
}

.prodone{
	display: flex;
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.prodinfo{
	display: flex;
	width: 25%;
	display: inline-block;
}

.proddeets{
    justify-content: center;
    align-items: center;
	margin-top:auto;
	margin-bottom:auto;
}

.prodbuy{
}

table, th, td{
  border:1px solid black;
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

p{
	text-align: center;
}

#quantity{
	margin-left: 25px;
}

#filtdiv{
	border: 5px double #A439A4;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:10px;
	padding: 15px 15px 15px 15px;
}

.filcontainer1{
	height: 100px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
}

.filcontainer2{
	height: 100px;
	text-align: center;
	padding: 15px 0px 15px 0px;
}

.filcontainer3{
	height: 100px;
	text-align: center;
	padding: 10px 0px 15px 0px;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border: 0;
  background: url('../images/slidericon.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border: 0;
  background: url('../images/slidericon.png');
  cursor: pointer;
}

.minus{
	display: inline;
	padding: 5px;
}

.quant{
	display: inline;
	font-family: "Arial";
	font-size: 1.2em;
	font-weight:bold;
}

.plus{
	display: inline;
	font-family: "Arial";
	padding: 5px;
}

b{
	padding: 5px 0px 5px 0px;
}

#filterbutton{
	margin: 5px 5px 5px 5px;
	padding: 5px;
}

#basketinfo{
	text-align:left;
}